<div class="drag-card" style="left: 3.0%; top: 3.1%; width: 23.5%; height: 27.4%;">
    <div class="drag-card__header" style="background: linear-gradient(to bottom, #eaeaea, #d1d1d1);">Faire un Don</div>
    <div class="drag-card__content text-center">
        <b>Soutenir Buddhachannel</b><br>
        <small>Paiement sécurisé</small><br>
        <button style="margin-top:5px; padding:4px 8px; font-size:11px; background:#F28300; color:white; border:none; border-radius:3px; cursor: pointer;">Faire un don</button>
    </div>
</div>
