<div class="drag-card" style="left: 31.3%; top: -4.1%; width: 36.4%; height: 49.4%;">
    <div class="drag-card__header" style="background: linear-gradient(to bottom, #fff1b8, #e6d49e);">Éditorial</div>
    <div class="drag-card__video" style="background: #ddd; color: #555; font-size: 14px;">[Image Édito]</div>
    <div class="drag-card__content">
        <b>Le Pardon du Bouddha</b><br>
        <small>Texte introductif de l'éditorial pour donner envie de lire la suite...</small>
    </div>
</div>
